*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

body{
    text-align: center;
    background: linear-gradient(#f6c2c0 , #f1578d  );
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    color: #4d001b;
}
.heading{
    overflow: hidden;
}
h1{
    text-decoration: underline;
    font-size: 80px;
    animation: start 1s ease-in-out  1 forwards;
}

@keyframes  start{
    0% {
      transform: translateY(-80px);
      opacity: 1;
      }
    100% {
      transform: translateY(0);
      opacity: 1;
      }
  }

.images{
   
    font-size: 100px;
    margin: 3%;
    gap: 10%;   
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffe3ed;
}


.card{
    background-color: #4d001b;
    width: 190px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.card:hover{
   background-color: #78012a;
    border: 8px solid black;
    scale: 1.05;
}

.card:active{
    color:#ff9abd;
     border: 8px solid black;
     scale: 1;
 }

.score{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 300px;
    font-size: 25px;
    margin-top: 4%
}

.btn{
    margin-top: 5%;
    height: 40PX;
    width: 90px;
    border: hidden;
    background-color: #4d001b;
    color: #ffe3ed ;
    border-radius: 20px;
    scale: 2;
    font-size: 17px;
    
}

.result{
    height: 59px;
    font-size: 50px;
    animation: up 0.5s ease-in-out  1 forwards;
    
   
}



  @keyframes  up{
    0% { 
      opacity: 0;
      }
    100% {
      opacity: 1;
      }
  }




.btn:hover{
     background-color: #78012a;
     scale: 2.3;
 }
 
 .btn:active{
      scale: 2;
  }


