*{
    margin: 0%;
    padding: 0%;
}

body{
    text-align: center;
    background: linear-gradient(#f6c2c0 , #f1578d  );
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    color: #4d001b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.heading{
    overflow: hidden;
}

h2{
    font-size: 5vw;
    text-decoration: underline;
    position: relative;
    animation: start 1s ease-in-out  1 forwards;
    margin-bottom: 20px;
}
.pannel{
    height: 71vh;
    width: 70vw;
    background-color: #ffdbe8;
    border:hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    height: 3.9vw;
    background-color: #4d001b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9vw;
    
}


.Ptext{
    font-size: 1.3vw;
    color: #ffdbe8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.num{
    padding: 7%;
    background-color:#ffd0e1 ;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number{
    color:#4d001b;
}

.botm{
    height: 441px;
    margin: 0.5vw;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3vw;
    justify-content: center;
    align-items: center;
}

.bubble{
    height: 2.9vw;
    width: 2.9vw;
    font-size: 1.1vw;
    border-radius: 50%;
    background-color: #4d001b;
    color:#ffd0e1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble:hover{
    scale: 0.9;
    background-color: #6c0024;
    cursor:pointer;
}

.over{
    font-size: 5vw;
    margin-right: 3vw;
}

.btn{
    height: 2.5vw;
    width: 5vw;
    border: hidden;
    background-color: #4d001b;
    color: #ffe3ed ;
    border-radius: 20px;
    scale: 2;
    font-size: 0.8vw;
    margin-left: 1vw;
}

.btn:hover{
    background-color: #78012a;
    scale: 2.3;
    cursor: pointer;
}

.btn:active{
     scale: 2;
     cursor: pointer;
 }


 @keyframes  start{
    0% {
      transform: translateY(70px);
      opacity: 1;
      }
    100% {
      transform: translateY(0);
      opacity: 1;
      }
  }